body {
    background: rgb(235, 235, 235);
    margin:0px;
}

.datetime-container {
    margin:auto;
    position:absolute;
    right:0px;
    top:0px;
    background-color:#2f2f2f;
    padding-left:20px;
    padding-bottom:4px;
    padding-top:10px;
    padding-right:20px;
}
#pdatetime {
    color:#fff;
    font-weight:bold;
    font-family: Roboto;
    font-size:15px;
    padding:0;
    margin:0;
    text-transform:uppercase;
    text-align:center;

}
p {
    font-family:roboto;
    font-size:22px;
    margin: auto;

}
#p1 {
    color:#fff;
    padding:0;
    margin:0px;
    font-weight:bold;
    font-family: palace;
    font-size:28px;
}
h1 {
    color:#2f2f2f;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:70px;
    padding: auto;
    margin: auto;
    text-align:center;
    max-width:1000px;
    top:120px;
    margin-top:50px;
}
ul {
    background-color: #A2E4B8;
    list-style-type: none;
    margin: 0;
    padding-top:22px;
    padding-bottom:23px;
    text-align: center;
    overflow: hidden;
}
li {
    display: inline-block;
}
li a {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    padding:16px;
    text-transform:uppercase;
    text-decoration:none;
}
li a:hover {
    background-color: #76a987;
    padding-bottom:25px;
    padding-top:22px;
  }
#dawn-logo {
    color: #fff;
    font-family: palace;
    font-size:45px;
    display:block;
    float:left;
    left:0;
    position: absolute;
    padding-left:20px;
    padding-top:8px;
}

#title {
    color: #ffffff;
    font-family:roboto;
    font-size:12px;
    display:block;
    letter-spacing:0.20em;
    left:0;
    top:50px;
    position:absolute;
    padding-left:20px;
    text-transform:uppercase;
    font-weight:bold;
}

#dawn-logo-footer {
    color: #fff;
    font-family: palace;
    font-size:65px;
    text-align:center;
    margin:auto;
}

#title-footer {
    color: #ffffff;
    font-family:roboto;
    font-size:18px;
    letter-spacing:0.20em;
    margin:auto;
    top:1675px;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
}

@font-face {
    font-family: palace;
    src: url(PALACE.TTF);
    font-weight: bold;
  }
.content {
    text-align: center;
    padding-top:20px;
    width:559px;
    margin:auto;
}
#dawnimg {
    border: 5px solid #76a987;
    margin-bottom:20px;
}
#footer {
    background-color: #2f2f2f;
    top:500px;
    padding-top:60px;
    padding-bottom:150px;
}